# .NET
bin/
obj/
*.user
*.suo
artifacts/
*.nupkg

# IDEs
.vs/
.vscode/
.idea/
*.sln.iml

# Node/Angular
node_modules/
dist/
.angular/

# OS
.DS_Store

# Secrets
appsettings.Development.json
appsettings.Local.json
*.secrets.json
